openapi: 3.0.3
servers:
  - url: https://api.tooldata.io
    description: Producción
info:
  version: 2.0.0
  title: Tooldata Social Listening API
  description: |
    Tooldata es una empresa, con visión latinoamericana, que desarrolla herramientas para facilitar el acceso y la comprensión
    de información desde redes sociales, para contribuir en la toma de decisiones operativas y comunicacionales de sus clientes,
    de manera fácil y simple.

    Nuestro sistema de social listening te ayudará a:
    * Captar publicaciones de tu interés.
    * Analizar esas publicaciones y transformarlas en información.
    * Mostrar la información de forma simple para que puedas tomar mejores decisiones y desarrollar mejores estrategias.

    # Introducción
    La documentación de nuestra API ayudará a nuestros clientes a llevar los datos a su CRM, herramientas de Business Intelligence
    o cualquier sistema de visualización.

    # Especificaciones de API
    A través de nuestra API podrás:
    * Consultar los proyectos de monitoreo configurados (colecciones)
    * Consultar publicaciones de los proyectos de monitoreo
    * Consultar las palabras más frecuentes de un proyecto (nube de palabras)

    # Autenticación
    Para obtener la API Key debes ingresar a nuestro [sistema](https://app.tooldata.io) utilizando un usuario con permisos de Administrador.
    Para activar la API Key debes ingresar a **Administración > API Keys > Nuevo**, luego agregar un nombre descriptivo y una o más IPs
    que podrán utilizar la API Key.

    La API Key debe enviarse en cada solicitud mediante uno de los siguientes métodos:

    | Método | Formato |
    |--------|---------|
    | Header `Authorization` | `ApiKey <tu_api_key>` |
    | Header `x-access-token` | `<tu_api_key>` |
    | Query param | `?ApiKey=<tu_api_key>` |

    # Fechas
    Todas las fechas deben enviarse y se devuelven en formato **ISO 8601 UTC** (ejemplo: `2025-11-01T00:00:00.000Z`).

    # Paginación
    Los endpoints que devuelven listas paginadas incluyen metadatos de paginación en la respuesta.
    Por defecto se retornan **500 registros** por página, con un máximo de **1000**.

    # Filtros
    Los endpoints de posts y palabras soportan filtros opcionales por plataforma, sentimiento y género.
    Los valores se envían como strings separados por comas (ejemplo: `type=twitter,instagram`).

    # Rate Limiting
    La API pública tiene un límite de **10 solicitudes por segundo** por IP, con un burst máximo de 20.
    Si se excede el límite, se recibirá un error **429 Too Many Requests**.

    # Plataformas soportadas
    | Plataforma | type_post | Campos adicionales |
    |------------|-----------|--------------------|
    | Twitter/X | `twitter` | `replies`, `retweets`, `quote`, `views` |
    | Instagram | `instagram`, `instagram_comment` | `comments` |
    | Facebook | `facebook`, `facebook_comment` | `title`, `comment`, `share` |
    | Medios digitales | `news` | `title` |
    | TikTok | `tiktok`, `tiktok_comment` | `replies`, `shares`, `plays`, `views` |
    | LinkedIn | `linkedin` | `replies`, `shares`, `views` |
    | YouTube | `youtube`, `youtube_comment` | `replies`, `plays`, `views`, `dislikes` |
    | Spotify | `spotify` | `plays` |

    # Errores
    | Código HTTP | Código | Descripción |
    |-------------|--------|-------------|
    | 401 | `FORBIDDEN` | IP de origen no permitida |
    | 403 | `MISSING_CREDENTIALS` | API Key no proporcionada |
    | 403 | `INVALID_CREDENTIALS` | API Key no válida o deshabilitada |
    | 403 | `CLIENT_SUSPENDED` | Cuenta de cliente suspendida |
    | 404 | `RESOURCE_NOT_FOUND` | Colección no encontrada |
    | 429 | — | Límite de solicitudes excedido |
    | 500 | `INTERNAL_ERROR` | Error interno del servidor |

    Formato de respuesta de error:
    ```json
    {
      "success": false,
      "error": {
        "code": "INVALID_CREDENTIALS",
        "message": "API Key is not valid"
      },
      "timestamp": "2025-11-30T12:00:00.000Z"
    }
    ```

    <SecurityDefinitions />
  contact:
    name: Soporte Tooldata
    email: hola@tooldata.io
    url: https://www.tooldata.io
  x-logo:
    url: 'https://www.tooldata.io/assets/logo.png?v=e0d2f03442'
    altText: Tooldata logo
tags:
  - name: collection
    description: |
      Las colecciones representan los proyectos de monitoreo configurados.
      Cada colección almacena publicaciones de múltiples plataformas digitales y redes sociales.
  - name: post
    description: Publicaciones capturadas desde diferentes medios digitales y redes sociales.
  - name: word
    description: Palabras más frecuentes extraídas de las publicaciones de una colección.
x-tagGroups:
  - name: Endpoints
    tags:
      - collection
      - post
      - word

paths:
  /collections:
    get:
      tags:
        - collection
      summary: Obtener las colecciones
      description: Devuelve la lista de colecciones (proyectos de monitoreo) del cliente autenticado.
      operationId: getCollections
      responses:
        '200':
          description: Lista de colecciones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '401':
          description: IP no permitida
        '403':
          description: API Key no válida o requerida
      security:
        - ApiKey: []
      x-codeSamples:
        - lang: cURL
          source: |
            curl -H 'Accept: application/json' \
                  -H "Authorization: ApiKey <tu_api_key>" \
                  https://api.tooldata.io/collections
        - lang: Python
          source: |
            import requests

            API_URL = 'https://api.tooldata.io'
            API_KEY = '<tu_api_key>'
            HEADERS = {
                'Content-type': 'application/json',
                'Authorization': f'ApiKey {API_KEY}'
            }

            response = requests.get(f'{API_URL}/collections', headers=HEADERS)
            print(response.json())
        - lang: JavaScript
          source: |
            const API_URL = 'https://api.tooldata.io';
            const API_KEY = '<tu_api_key>';

            const response = await fetch(`${API_URL}/collections`, {
              headers: {
                'Content-type': 'application/json',
                'Authorization': `ApiKey ${API_KEY}`
              }
            });
            const data = await response.json();
            console.log(data);
        - lang: PHP
          source: |
            define('API_URL', 'https://api.tooldata.io');
            define('API_KEY', '<tu_api_key>');

            $header = [
                'Content-type: application/json',
                'Authorization: ApiKey ' . API_KEY
            ];

            $curl = curl_init();
            curl_setopt($curl, CURLOPT_URL, API_URL . '/collections');
            curl_setopt($curl, CURLOPT_HTTPHEADER, $header);
            curl_setopt($curl, CURLOPT_RETURNTRANSFER, 1);

            $result = curl_exec($curl);
            curl_close($curl);

            print_r(json_decode($result, true));

  '/collections/{collectionId}/posts':
    get:
      tags:
        - post
      summary: Obtener posts de una colección
      description: |
        Devuelve las publicaciones paginadas de una colección, con filtros opcionales por fecha, plataforma,
        sentimiento, género, etiquetas y ordenamiento.

        Las fechas `since` y `until` son **obligatorias** y deben estar en formato ISO 8601 UTC.
      operationId: getPosts
      parameters:
        - name: collectionId
          in: path
          description: ID de la colección (hexadecimal de 32 caracteres)
          required: true
          schema:
            type: string
            example: '1c8ef41de1744e5bb00d198b727555e7'
        - name: since
          in: query
          description: Fecha de inicio (ISO 8601 UTC)
          required: true
          schema:
            type: string
            format: date-time
            example: '2025-11-01T00:00:00.000Z'
        - name: until
          in: query
          description: Fecha de fin (ISO 8601 UTC)
          required: true
          schema:
            type: string
            format: date-time
            example: '2025-11-30T23:59:59.999Z'
        - name: page
          in: query
          description: Número de página
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Publicaciones por página (máximo 1000)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
        - name: type
          in: query
          description: 'Filtrar por plataforma (separado por comas: `twitter,instagram`)'
          required: false
          schema:
            type: string
        - name: sentiment
          in: query
          description: 'Filtrar por sentimiento (separado por comas: `positive,neutral,negative`)'
          required: false
          schema:
            type: string
        - name: gender
          in: query
          description: 'Filtrar por género (separado por comas: `male,female,business,other`)'
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: 'Ordenamiento. Prefijo `-` para descendente. Campos: `created_at`, `likes_count`, `retweets_count`, `replies_count`, `score`, `engagement`, `total_interactions_count`, `play_count`'
          required: false
          schema:
            type: string
            default: '-created_at'
        - name: tags[]
          in: query
          description: 'Filtrar por etiquetas. Repetir por cada etiqueta: `tags[]=VIP&tags[]=Alerta`'
          required: false
          schema:
            type: array
            items:
              type: string
      security:
        - ApiKey: []
      responses:
        '200':
          description: Publicaciones paginadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostsResponse'
        '401':
          description: IP no permitida
        '403':
          description: API Key no válida o requerida
        '404':
          description: Colección no encontrada
      x-codeSamples:
        - lang: cURL
          source: |
            curl -H 'Accept: application/json' \
                  -H "Authorization: ApiKey <tu_api_key>" \
                  "https://api.tooldata.io/collections/<collectionId>/posts?since=2025-11-01T00:00:00.000Z&until=2025-11-30T23:59:59.999Z&limit=100"
        - lang: Python
          source: |
            import requests

            API_URL = 'https://api.tooldata.io'
            API_KEY = '<tu_api_key>'
            COLLECTION_ID = '<collectionId>'
            HEADERS = {
                'Content-type': 'application/json',
                'Authorization': f'ApiKey {API_KEY}'
            }

            params = {
                'since': '2025-11-01T00:00:00.000Z',
                'until': '2025-11-30T23:59:59.999Z',
                'limit': 100,
                'page': 1,
                'type': 'twitter',
                'sentiment': 'positive,negative'
            }

            url = f'{API_URL}/collections/{COLLECTION_ID}/posts'
            response = requests.get(url, headers=HEADERS, params=params)
            data = response.json()

            print(f"Total: {data['totalDocs']} publicaciones")
            print(f"Pagina {data['page']} de {data['totalPages']}")
            for post in data['mentions']:
                print(f"  [{post['type_post']}] {post['text'][:80]}...")
        - lang: JavaScript
          source: |
            const API_URL = 'https://api.tooldata.io';
            const API_KEY = '<tu_api_key>';
            const COLLECTION_ID = '<collectionId>';

            const params = new URLSearchParams({
              since: '2025-11-01T00:00:00.000Z',
              until: '2025-11-30T23:59:59.999Z',
              limit: '100',
              page: '1'
            });

            const response = await fetch(
              `${API_URL}/collections/${COLLECTION_ID}/posts?${params}`,
              {
                headers: {
                  'Content-type': 'application/json',
                  'Authorization': `ApiKey ${API_KEY}`
                }
              }
            );
            const data = await response.json();
            console.log(`Total: ${data.totalDocs} publicaciones`);
        - lang: PHP
          source: |
            define('API_URL', 'https://api.tooldata.io');
            define('API_KEY', '<tu_api_key>');

            $collectionId = '<collectionId>';
            $header = [
                'Content-type: application/json',
                'Authorization: ApiKey ' . API_KEY
            ];

            $params = http_build_query([
                'since' => '2025-11-01T00:00:00.000Z',
                'until' => '2025-11-30T23:59:59.999Z',
                'limit' => 100,
                'page' => 1
            ]);

            $curl = curl_init();
            $url = sprintf("%s/collections/%s/posts?%s", API_URL, $collectionId, $params);

            curl_setopt($curl, CURLOPT_URL, $url);
            curl_setopt($curl, CURLOPT_HTTPHEADER, $header);
            curl_setopt($curl, CURLOPT_RETURNTRANSFER, 1);

            $result = curl_exec($curl);
            curl_close($curl);

            $data = json_decode($result, true);
            echo "Total: " . $data['totalDocs'] . " publicaciones\n";

  '/collections/{collectionId}/words':
    get:
      tags:
        - word
      summary: Obtener nube de palabras de una colección
      description: |
        Devuelve las palabras más frecuentes encontradas en las publicaciones de una colección.
        Retorna un máximo de **40 palabras**, ordenadas por frecuencia descendente.
      operationId: getWords
      parameters:
        - name: collectionId
          in: path
          description: ID de la colección (hexadecimal de 32 caracteres)
          required: true
          schema:
            type: string
            example: '1c8ef41de1744e5bb00d198b727555e7'
        - name: since
          in: query
          description: Fecha de inicio (ISO 8601 UTC)
          required: true
          schema:
            type: string
            format: date-time
            example: '2025-11-01T00:00:00.000Z'
        - name: until
          in: query
          description: Fecha de fin (ISO 8601 UTC)
          required: true
          schema:
            type: string
            format: date-time
            example: '2025-11-30T23:59:59.999Z'
        - name: type
          in: query
          description: 'Filtrar por plataforma (separado por comas)'
          required: false
          schema:
            type: string
        - name: sentiment
          in: query
          description: 'Filtrar por sentimiento (separado por comas)'
          required: false
          schema:
            type: string
        - name: gender
          in: query
          description: 'Filtrar por género (separado por comas)'
          required: false
          schema:
            type: string
      security:
        - ApiKey: []
      responses:
        '200':
          description: Nube de palabras
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WordsResponse'
              example:
                words:
                  - text: banco
                    count: 2363
                  - text: chile
                    count: 2097
                  - text: teleton
                    count: 1040
                total: 5419
        '401':
          description: IP no permitida
        '403':
          description: API Key no válida o requerida
        '404':
          description: Colección no encontrada
      x-codeSamples:
        - lang: cURL
          source: |
            curl -H 'Accept: application/json' \
                  -H "Authorization: ApiKey <tu_api_key>" \
                  "https://api.tooldata.io/collections/<collectionId>/words?since=2025-11-01T00:00:00.000Z&until=2025-11-30T23:59:59.999Z"
        - lang: Python
          source: |
            import requests

            API_URL = 'https://api.tooldata.io'
            API_KEY = '<tu_api_key>'
            COLLECTION_ID = '<collectionId>'
            HEADERS = {
                'Content-type': 'application/json',
                'Authorization': f'ApiKey {API_KEY}'
            }

            params = {
                'since': '2025-11-01T00:00:00.000Z',
                'until': '2025-11-30T23:59:59.999Z'
            }

            url = f'{API_URL}/collections/{COLLECTION_ID}/words'
            response = requests.get(url, headers=HEADERS, params=params)
            data = response.json()

            print(f"Total publicaciones analizadas: {data['total']}")
            for word in data['words']:
                print(f"  {word['text']}: {word['count']}")
        - lang: JavaScript
          source: |
            const API_URL = 'https://api.tooldata.io';
            const API_KEY = '<tu_api_key>';
            const COLLECTION_ID = '<collectionId>';

            const params = new URLSearchParams({
              since: '2025-11-01T00:00:00.000Z',
              until: '2025-11-30T23:59:59.999Z'
            });

            const response = await fetch(
              `${API_URL}/collections/${COLLECTION_ID}/words?${params}`,
              {
                headers: {
                  'Content-type': 'application/json',
                  'Authorization': `ApiKey ${API_KEY}`
                }
              }
            );
            const data = await response.json();
            console.log(`Total publicaciones: ${data.total}`);
            data.words.forEach(w => console.log(`  ${w.text}: ${w.count}`));
        - lang: PHP
          source: |
            define('API_URL', 'https://api.tooldata.io');
            define('API_KEY', '<tu_api_key>');

            $collectionId = '<collectionId>';
            $header = [
                'Content-type: application/json',
                'Authorization: ApiKey ' . API_KEY
            ];

            $params = http_build_query([
                'since' => '2025-11-01T00:00:00.000Z',
                'until' => '2025-11-30T23:59:59.999Z'
            ]);

            $curl = curl_init();
            $url = sprintf("%s/collections/%s/words?%s", API_URL, $collectionId, $params);

            curl_setopt($curl, CURLOPT_URL, $url);
            curl_setopt($curl, CURLOPT_HTTPHEADER, $header);
            curl_setopt($curl, CURLOPT_RETURNTRANSFER, 1);

            $result = curl_exec($curl);
            curl_close($curl);

            $data = json_decode($result, true);
            echo "Total publicaciones: " . $data['total'] . "\n";

components:
  schemas:
    Collection:
      type: object
      properties:
        id:
          type: string
          description: Identificador hexadecimal único de la colección
          example: d3447be04dbb48e5fa522852a835e18e
        name:
          type: string
          description: Nombre del proyecto de monitoreo
          example: Banco de Chile
        tags:
          type: array
          description: Etiquetas configuradas en el proyecto
          items:
            type: string
          example:
            - VIP
            - Teletón
        status:
          type: string
          description: Estado actual del proyecto
          enum:
            - running
            - paused
          example: running
        created_at:
          type: string
          format: date-time
          description: Fecha de creación (ISO 8601 UTC)
          example: '2022-04-13T16:23:23.367Z'
        updated_at:
          type: string
          format: date-time
          description: Fecha de última actualización (ISO 8601 UTC)
          example: '2025-12-18T15:37:40.498Z'

    User:
      type: object
      properties:
        id_str:
          type: string
          description: ID del usuario en la plataforma de origen
          example: '1186310497580310533'
        name:
          type: string
          description: Nombre declarado por el usuario
          example: Banco de Chile
        username:
          type: string
          description: Nombre de usuario en la plataforma
          example: bancodechile
        picture:
          type: string
          description: URL del avatar del usuario
          example: 'https://pbs.twimg.com/profile_images/example.jpg'
        followers:
          type: integer
          description: Cantidad de seguidores
          example: 283852
        location:
          type: string
          description: Lugar declarado por el usuario
          example: Santiago, Chile
        gender:
          type: string
          description: Género detectado del usuario
          enum:
            - female
            - male
            - business
            - other
          example: other

    Post:
      type: object
      description: |
        Publicación capturada de una plataforma digital.
        Dependiendo del valor de `type_post`, puede incluir campos adicionales
        específicos de cada plataforma (ver tabla en la sección Plataformas soportadas).
      properties:
        id:
          type: string
          description: ID de la publicación en la plataforma de origen
          example: '1995280867606843661'
        created_at:
          type: string
          format: date-time
          description: Fecha de creación (ISO 8601 UTC)
          example: '2025-11-30T23:56:44.000Z'
        text:
          type: string
          description: Texto completo de la publicación
          example: Banco de Chile entrega los mejores beneficios a sus clientes
        likes:
          type: integer
          description: Cantidad de likes/me gusta
          example: 12
        link:
          type: string
          description: URL a la publicación original
          example: 'https://twitter.com/usuario/status/1995280867606843661'
        image:
          type: string
          description: URL de la imagen o vista previa
          example: 'https://pbs.twimg.com/media/example.jpg'
        type_post:
          type: string
          description: Plataforma de origen
          enum:
            - twitter
            - instagram
            - instagram_comment
            - facebook
            - facebook_comment
            - news
            - tiktok
            - tiktok_comment
            - linkedin
            - youtube
            - youtube_comment
            - spotify
          example: twitter
        sentiment:
          type: string
          description: Sentimiento detectado
          enum:
            - positive
            - neutral
            - negative
          example: positive
        engagement:
          type: number
          description: Tasa de engagement (interacciones / seguidores)
          example: 0.003
        score:
          type: number
          description: Puntuación de impacto basada en interacciones y alcance
          example: 1205.52
        location:
          type: string
          description: Ubicación geográfica asociada a la publicación
          example: Santiago, Chile
        user:
          $ref: '#/components/schemas/User'
        tags:
          type: array
          description: Etiquetas asignadas
          items:
            type: string
          example:
            - VIP
            - Teletón
        phrases:
          type: array
          description: Frases relevantes extraídas del texto
          items:
            type: string
          example:
            - producto interno bruto
        organizations:
          type: array
          description: Organizaciones mencionadas
          items:
            type: string
          example:
            - OMS
            - Greenpeace
        persons:
          type: array
          description: Personas mencionadas
          items:
            type: string
          example:
            - Salvador Dalí
        locations:
          type: array
          description: Ubicaciones mencionadas
          items:
            type: string
          example:
            - chile
            - santiago
        commercial_items:
          type: array
          description: Productos comerciales mencionados
          items:
            type: string
          example:
            - iPhone
        events:
          type: array
          description: Eventos mencionados
          items:
            type: string
          example:
            - Lollapalooza
        dates:
          type: array
          description: Referencias temporales encontradas
          items:
            type: string
          example:
            - '2013'
        title:
          type: string
          description: Titular (solo en news y facebook)
          example: San Felipe supera su meta de la Teletón
        replies:
          type: integer
          description: Cantidad de respuestas/comentarios (twitter, tiktok, linkedin, youtube)
          example: 14
        retweets:
          type: integer
          description: Cantidad de retweets (solo twitter)
          example: 20
        quote:
          type: integer
          description: Cantidad de citas (solo twitter)
          example: 3
        views:
          type: integer
          description: Visualizaciones (twitter, tiktok, linkedin, youtube)
          example: 5200
        comments:
          type: integer
          description: Cantidad de comentarios (solo instagram)
          example: 12
        comment:
          type: integer
          description: Cantidad de comentarios (solo facebook)
          example: 8
        share:
          type: integer
          description: Veces compartida (solo facebook)
          example: 15
        shares:
          type: integer
          description: Veces compartida (tiktok, linkedin)
          example: 150
        plays:
          type: integer
          description: Reproducciones (tiktok, youtube, spotify)
          example: 50000
        dislikes:
          type: integer
          description: Dislikes (solo youtube)
          example: 3

    Word:
      type: object
      properties:
        text:
          type: string
          description: Palabra
          example: banco
        count:
          type: integer
          description: Cantidad de apariciones
          example: 2363

    PostsResponse:
      type: object
      description: Respuesta paginada de publicaciones
      properties:
        mentions:
          type: array
          description: Lista de publicaciones
          items:
            $ref: '#/components/schemas/Post'
        totalDocs:
          type: integer
          description: Total de publicaciones que coinciden con los filtros
          example: 5419
        limit:
          type: integer
          description: Publicaciones por página
          example: 500
        page:
          type: integer
          description: Página actual
          example: 1
        totalPages:
          type: integer
          description: Total de páginas
          example: 11
        pagingCounter:
          type: integer
          description: Índice del primer documento de la página actual
          example: 1
        hasPrevPage:
          type: boolean
          description: Existe página anterior
          example: false
        hasNextPage:
          type: boolean
          description: Existe página siguiente
          example: true
        prevPage:
          type: integer
          nullable: true
          description: Número de página anterior (null si no existe)
          example: null
        nextPage:
          type: integer
          nullable: true
          description: Número de página siguiente (null si no existe)
          example: 2

    WordsResponse:
      type: object
      description: Respuesta de nube de palabras
      properties:
        words:
          type: array
          description: Palabras frecuentes (máximo 40)
          items:
            $ref: '#/components/schemas/Word'
        total:
          type: integer
          description: Total de publicaciones analizadas
          example: 5419

  securitySchemes:
    ApiKey:
      description: |
        Luego de haber creado y obtenido la `API Key` dentro de la aplicación de **Tooldata**,
        utilízala en el header `Authorization` con el prefijo `ApiKey`.

        Ejemplo: `Authorization: ApiKey td_live_abc123def456`
      type: apiKey
      name: Authorization
      in: header
